<h3>شاعر را انتخاب کنید</h3>
<div class="buttons">
  <a href="/saadi" class='poet-btn'>سعدی</a>
  <a href="/hafez" class='poet-btn'>حافظ</a>
  <a href="/khayyam" class='poet-btn'>خیام</a>
  <a href="/saeb" class='poet-btn'>صائب</a>
</div>